extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Body:
      textarea.form-control(name='body')
    br
<<<<<<< HEAD
    input.btn.btn-primary(type='submit',value='Submit')
=======
    input.btn.btn-primary(type='submit',value='Submit')
>>>>>>> 0f49b6b741d7ccdaba3978328fe07a9401b1b6cd
