.messages
<<<<<<< HEAD
  each type in Object.keys(messages)
    each message in messages[type]
      div(class="alert alert-"+type) #{message}
=======
each type in Object.keys(messages)
    each message in messages[type]
        div(class="alert alert-"+type) #{message}
>>>>>>> 0f49b6b741d7ccdaba3978328fe07a9401b1b6cd
