<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Make a post</h2>
    <a href="/">Homepage</a>
    <hr>
    
<form action="/submit/post" method="POST">
    <label for="Title">Title:</label>
    <input type="text" name="Title">
    <br>
    <label for="Author">Author:</label>
    <input type="text" name="Author">
    <br>
    <label for="Body">Body:</label>
    <input type="text" name="Body">
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>